<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- added permission -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo3"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FITNESSAPP"
        tools:targetApi="31">
        <activity
            android:name=".nutritionalfood.NutritionFoodActivity1"
            android:exported="false" />
        <activity
            android:name=".StartDayActivity"
            android:exported="false" />
        <activity
            android:name=".videoexercise.VideoWorkoutActivity4"
            android:exported="false" />
        <activity
            android:name=".videoexercise.VideoWorkoutActivity3"
            android:exported="false" />
        <activity
            android:name=".videoexercise.VideoWorkoutActivity2"
            android:exported="false"
            android:label="@string/title_activity_video_workout2"
            android:theme="@style/Theme.FITNESSAPP" />
        <activity
            android:name=".videoexercise.VideoWorkoutActivity1"
            android:exported="false"
            android:label="@string/title_activity_video_workout"
            android:theme="@style/Theme.FITNESSAPP" />
        <activity
            android:name=".DayActivity"
            android:exported="false" />
        <activity
            android:name=".registering.Registering7Activity"
            android:exported="false" />
        <activity
            android:name=".registering.Registering6Activity"
            android:exported="false" />
        <activity
            android:name=".registering.Registering5Activity"
            android:exported="false" />
        <activity
            android:name=".ProgressTrackingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NutritionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WorkoutActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TestingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".onboarding.OnBoarding4Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".onboarding.OnBoarding3Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LaunchActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- <activity -->
        <!-- android:name=".LaunchActivity" -->
        <!-- android:exported="false" -->
        <!-- android:screenOrientation="portrait" /> -->
        <activity
            android:name=".onboarding.OnBoarding1Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".onboarding.OnBoarding2Activity"
            android:exported="false"
            android:screenOrientation="portrait" /> <!-- <activity -->
        <!-- android:name=".registering.Registering2Activity" -->
        <!-- android:exported="true" -->
        <!-- android:screenOrientation="portrait" > -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->
        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <activity
            android:name=".registering.Registering2Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".registering.Registering3Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".registering.Registering4Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HomeViewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginViewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".registering.Registering1Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>